<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:tem="http://tempuri.org/">
    <soapenv:Header>
        <tem:cabecalho versao="100">
            <tem:versaoDados>1.00</tem:versaoDados>
        </tem:cabecalho>
    </soapenv:Header>
    <soapenv:Body>
        <tem:EnviarLoteRpsSincrono>
            <tem:xmlEnvio><![CDATA[{{{xml_lote}}}]]></tem:xmlEnvio>
        </tem:EnviarLoteRpsSincrono>
    </soapenv:Body>
</soapenv:Envelope>