<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <soapenv:Body>
        <ns2:GerarNfseRequest xmlns:ns2="http://ws.bhiss.pbh.gov.br">
        <nfseCabecMsg>
            <![CDATA[<cabecalho versao="1.00" xmlns="http://www.abrasf.org.br/nfse.xsd"><versaoDados>1.00</versaoDados></cabecalho>]]>
        </nfseCabecMsg>
        <nfseDadosMsg>
            <![CDATA[{{{xml_lote}}}]]>
        </nfseDadosMsg>
        </ns2:GerarNfseRequest>
    </soapenv:Body>
</soapenv:Envelope>