<?xml version="1.0" encoding="UTF-8"?>
<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/">
    <soapenv:Header>
        <cabecalho versao="100">
            <versaoDados>1.00</versaoDados>
        </cabecalho>
    </soapenv:Header>
    <soapenv:Body>
        <ns2:RecepcionarLoteRpsRequest>
            <xmlEnvio><![CDATA[{{{xml_lote}}}]]></xmlEnvio>
        </ns2:RecepcionarLoteRpsRequest>
    </soapenv:Body>
</soapenv:Envelope>