<?xml version="1.0" encoding="UTF-8"?>
<EnviarLoteRpsEnvio xmlns="http://www.abrasf.org.br/nfse.xsd">
    <LoteRps Id="{{id}}" versao="2.02">
        <NumeroLote>{{numero_lote}}</NumeroLote>
        <Cnpj>{{cnpj}}</Cnpj>
        <InscricaoMunicipal>{{inscricao_municipal}}</InscricaoMunicipal>
        <QuantidadeRps>{{quantidade}}</QuantidadeRps>
        <ListaRps>
            {{{render_rps}}}
        </ListaRps>
    </LoteRps>
    <Signature xmlns="http://www.w3.org/2000/09/xmldsig#">
        <SignedInfo>
            <CanonicalizationMethod Algorithm="http://www.w3.org/TR/2001/REC-xml-c14n-20010315"/>
            <SignatureMethod Algorithm="http://www.w3.org/2000/09/xmldsig#rsa-sha1"/>
            <Reference URI="#assinar">
                <DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1"/>
                <DigestValue>{{{digest_value}}}</DigestValue>
            </Reference>
        </SignedInfo>
        <SignatureValue>{{{signature_value}}}</SignatureValue>
        <KeyInfo>
            <X509Data>
                <X509Certificate>{{{x509_certificate}}}</X509Certificate>
            </X509Data>
        </KeyInfo>
    </Signature>    
</EnviarLoteRpsEnvio>    