    <LoteRps ID="{{id}}" versao="2.02">
        <NumeroLote>{{numero_lote}}</NumeroLote>
        <CpfCnpj>
            <Cnpj>{{cnpj}}</Cnpj>
        </CpfCnpj>
        <InscricaoMunicipal>{{inscricao_municipal}}</InscricaoMunicipal>
        <QuantidadeRps>1</QuantidadeRps>
        <ListaRps>
            {{{render_rps}}}
        </ListaRps>
    </LoteRps>