<Rps>
    <InfRps Id="rps:{{numero}}{{serie}}">
        <IdentificacaoRps>
            <Numero>{{numero}}</Numero>
            <Serie>{{serie}}</Serie>
            <Tipo>{{tipo}}</Tipo>
        </IdentificacaoRps>    
        <DataEmissao>{{data_emissao}}</DataEmissao>
        <NaturezaOperacao>1</NaturezaOperacao>
        <RegimeEspecialTributacao>6</RegimeEspecialTributacao>
        <OptanteSimplesNacional>{{simples_nacional}}</OptanteSimplesNacional>
        <IncentivadorCultural>2</IncentivadorCultural>
        <Status>1</Status>
        {{{servico.render}}}
        {{{prestador.render}}}
		{{{tomador.render}}}
    </InfRps>
</Rps>