<Rps>
    <InfDeclaracaoPrestacaoServico>
        <Rps>
            <IdentificacaoRps>
                <Numero>{{numero}}</Numero>
                <Serie>{{serie}}</Serie>
                <Tipo>{{tipo}}</Tipo>
            </IdentificacaoRps>    
            <Status>1</Status>
        </Rps>
        <Competencia>{{data_competencia}}</Competencia>
        {{{servico.render}}}
        {{{prestador.render}}}
		{{{tomador.render}}}
        <RegimeEspecialTributacao>{{regime_tributacao}}</RegimeEspecialTributacao>
        <OptanteSimplesNacional>{{simples_nacional}}</OptanteSimplesNacional>
        <IncentivoFiscal>{{icentivo_fiscal}}</IncentivoFiscal>
    </InfDeclaracaoPrestacaoServico>
</Rps>