<Servico>
    <Valores>
        <ValorServicos>{{valor_total}}</ValorServicos>
        <ValorDeducoes>0</ValorDeducoes>
        <ValorPis>0</ValorPis>
        <ValorCofins>0</ValorCofins>
        <ValorInss>0</ValorInss>
        <ValorIr>0</ValorIr>
        <ValorCsll>0</ValorCsll>
        <IssRetido>2</IssRetido>
        <ValorIss>{{valor_imposto}}</ValorIss>
        <OutrasRetencoes>0</OutrasRetencoes>
        <Aliquota>{{aliquota}}</Aliquota>
        <DescontoIncondicionado>0</DescontoIncondicionado>
        <DescontoCondicionado>0</DescontoCondicionado>
    </Valores>
    <ItemListaServico>{{codigo_servico}}</ItemListaServico>
    <CodigoCnae>{{codigo_cnae}}</CodigoCnae>
    <CodigoTributacaoMunicipio>{{codigo_tributacao}}</CodigoTributacaoMunicipio>
    <Discriminacao>{{descricao_servico}}</Discriminacao>
    <CodigoMunicipio>{{codigo_municipio}}</CodigoMunicipio>
</Servico>