<Servico>
    <Valores>
        <ValorServicos>{{valor_total}}</ValorServicos>
        <IssRetido>2</IssRetido>
        <BaseCalculo>{{valor_total}}</BaseCalculo>
        <ValorLiquidoNfse>{{valor_total}}</ValorLiquidoNfse>
    </Valores>
    <ItemListaServico>{{codigo_servico}}</ItemListaServico>
    <CodigoCnae>{{codigo_cnae}}</CodigoCnae>
    <CodigoTributacaoMunicipio>{{codigo_tributacao}}</CodigoTributacaoMunicipio>
    <Discriminacao>{{descricao_servico}}</Discriminacao>
    <CodigoMunicipio>{{codigo_municipio}}</CodigoMunicipio>
</Servico>