<Tomador>
	<IdentificacaoTomador>
		<CpfCnpj>
			{{#cnpj}}
			<Cnpj>{{cnpj}}</Cnpj>
			{{/cnpj}}

			{{#cpf}}
			<Cpf>{{cpf}}</Cpf>
			{{/cpf}}					
		</CpfCnpj>
	</IdentificacaoTomador>
	{{#razao_social}}
	<RazaoSocial>{{razao_social}}</RazaoSocial>
	{{/razao_social}}
	{{#has_address?}}
	<Endereco>
		{{#endereco}}
		<Endereco>{{endereco}}</Endereco>
		{{/endereco}}
		{{#endereco_numero}}
		<Numero>{{endereco_numero}}</Numero>
		{{/endereco_numero}}
		{{#complemento}}
		<Complemento>{{complemento}}</Complemento>
		{{/complemento}}
		{{#bairro}}
		<Bairro>{{bairro}}</Bairro>
		{{/bairro}}
		{{#cod_cidade}}
		<CodigoMunicipio>{{cod_cidade}}</CodigoMunicipio>
		{{/cod_cidade}}
		{{#uf}}
		<Uf>{{uf}}</Uf>
		{{/uf}}
		{{#cep}}
		<Cep>{{cep}}</Cep>
		{{/cep}}
	</Endereco>
	{{/has_address?}}
	{{#has_contact?}}
	<Contato>
	{{#telefone}}
		<Telefone>{{ddd}}{{telefone}}</Telefone>
		{{/telefone}}
		{{#email}}
		<Email>{{email}}</Email>
		{{/email}}
	</Contato>
	{{/has_contact?}}
</Tomador>