		<Tomador>
			<IdentificacaoTomador>
				<CpfCnpj>
					{{#cnpj}}
	  				<Cnpj>{{cnpj}}</Cnpj>  				
					{{/cnpj}}

					{{#cpf}}
	  				<Cpf>{{cpf}}</Cpf>  				
					{{/cpf}}					
				</CpfCnpj>
			</IdentificacaoTomador>
			{{#razao_social}}
			<RazaoSocial>{{razao_social}}</RazaoSocial>
			{{/razao_social}}
			<Endereco>
			  {{#endereco}}
				<Endereco>{{endereco}}</Endereco>
			  {{/endereco}}
			  {{#endereco_numero}}
				<Numero>{{endereco_numero}}</Numero>
			  {{/endereco_numero}}
			  {{#complemento}}
				<Complemento>{{complemento}}</Complemento>
			  {{/complemento}}
			  {{#bairro}}
				<Bairro>{{bairro}}</Bairro>
			  {{/bairro}}
			  {{#cod_cidade}}
				<CodigoMunicipio>{{cod_cidade}}</CodigoMunicipio>
			  {{/cod_cidade}}
			  {{#uf}}
				<Uf>{{uf}}</Uf>
			  {{/uf}}
			  {{#cep}}
				<Cep>{{cep}}</Cep>
			  {{/cep}}
			</Endereco>
			<Contato>
		    {{#telefone}}
			  <Telefone>{{ddd}}{{telefone}}</Telefone>
			  {{/telefone}}
			  {{#email}}
				<Email>{{email}}</Email>
			  {{/email}}
			</Contato>
		</Tomador>